{% extends "base.html" %}
{% block main %}
<div>
    <style>
        #top_questionnaire_box{position:relative;height:80px;} #top_questionnaire_box
        cite{ position:absolute; display:none; top:5px; right:5px; height:20px;
        width:20px; line-height:20px; text-align:center; cursor:pointer; z-index:
        1; } #top_questionnaire_box:hover cite{ display:block; } #top_questionnaire_box
        span{ display: inline-block; position: absolute; top: 42px; width: 34px;
        height: 34px; line-height: 34px; text-align: center; font-size: 1.8em;
        color: black; }
    </style>
</div>
<div class="domain-control">
    <div class="header">
        <h3>
            全部域名
            <span>
                ( 2条 )
                <span>
                </span>
            </span>
        </h3>
        <div class="flash-message">
        </div>
        <div style="clear:both">
        </div>
        <div class="action">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a id="create-domain" class="btn success" href="/domain/add">
                        添加域名
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="main-content">
    <div class="domain-header">
        <input type="checkbox" value="none" class="selectAll">
        <span>
            域名
        </span>
    </div>
    <div id="domain-list">
        {% for domain in domains %}
        <div class="entry">
            <div class="normal " data-status="">
                <div class="entry-checkbox">
                    <input type="checkbox" value="15581333" name="check">
                </div>
                <div class="entry-star{% if domain.is_mark == 'no' %}-disable handle{% endif %}"
                data-placement="above" rel="twipsy" title="点亮星标，方便快速查找域名">
                </div>
                <div class="entry-domain">
                    <a href="/record/list/{{ domain.id }}">
                        {{ domain.name }}
                    </a>
                </div>
                <table class="entry-status" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <th class="icon_empty_note" data-placement="above" rel="twipsy" title={{ domain.remark }}>
                            </th>
                            {% if domain.status == 'pause' %}
                            <th class="icon_disable" data-placement="above" title="该域名已暂停解析">
                            </th>
                            {% endif %}
                            <th data-placement="above" title="该域名已暂停解析">
                                <a href="/domain/remove/{{ domain.id }}">删除</a>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--end of a domain entry-->
        </div>
        {% endfor %}
    </div>
</div>  
{% endblock %}